.main-container{
  width: 100%;
  height: 200%!important;
  padding-top: 150px;
  background-color: #EFEFEF;
}


.h2-principal{
  font-weight: 1000;
  font-size: 23px;
  font-family: Lato,sans-serif;
  margin-bottom: 17px;
}
