.main-container{
  width: 100%;
  min-height: 100%!important;
  height: 100%!important;
  padding-top: 150px;
  background-color: #EFEFEF;
}

app-side-menu{
  max-width: 290px!important;
}

@media screen and (max-width: 768px) {
  .main-container{
    flex-direction: column!important;
  }
  app-side-menu{
    max-width: 991px!important;
  }
}

@media screen and (max-width: 991px) {
  .main-container{
    padding-top: 0;
  }

}

.h2-principal{
  font-weight: 1000;
  font-size: 23px;
  font-family: Lato,sans-serif;
  margin-bottom: 17px;
}
