.main-container{
  width: 270px;
  background-color: white;
  border-radius: 0.5rem;
}

.profile-picture{
  border-radius: 1000px;
}

.text-sm {
  font-size: .875rem;
  line-height: 1.25rem;
}

.user-name{
  font-weight: 900;
  font-size: 22px;
  font-family: Roboto,sans-serif;
}

button{
  background-color: #D8D1FF;
  font-family: Roboto,sans-serif;
  font-weight: 800;
}

