<div class = "my-1 mx-3 main-container">

  <div class="d-flex justify-content-center">

    <div class="row text-center pt-5 justify-content-center">

      <div class="position-relative mb-2">
        <div class="top-0 left-0 w-100 h-100 text-center">
          <img src = "/assets/IMAGEN-TEMPORAL.svg" class = "profile-picture">
        </div>
      </div>

      <div class = "text-muted mb-2">
        Bienvenido de nuevo
      </div>

      <div class = "user-name mb-4">
        {{userName}}
      </div>

      <div class="mb-1">
        <button class = "rounded-4 text-sm text-black profile-button">
           % Completar perfil
        </button>
      </div>


      <div class="px-5">
        <hr>
      </div>


      <div class="row justify-content-center p-0" style=" width: 160px; " >

        <div class="col-11 codigo-referido mb-2">
          {{referralCode}}
        </div>

        <div class="col-11 ind-codigo-referido p-0 mb-2">
          Tu código de referidos
        </div>

        <div class = "col-11 btn-shared d-flex justify-content-center text-sm">
          <img src="/assets/icon/shared-icon.svg" class = "mr-1">
          <div>Compartir</div>
        </div>

      </div>

      <div class="px-5 mb-3">
        <hr>
      </div>

      <div class="d-flex flex-column" style = "width: 150px">

        <div class="d-flex justify-content-start align-items-center mb-3">
          <img src = "/assets/icon/invest-icon.svg" class = "icon-option">
          <a href = "#" class = "ancor-option">Inversiones</a>
        </div>

        <div class="d-flex justify-content-start align-items-center mb-3">
          <img src = "/assets/icon/blog-icon.svg" class = "icon-option">
          <a href = "#" class = "ancor-option">Blog</a>
        </div>

        <div class="d-flex justify-content-start align-items-center mb-3">
          <img src = "/assets/icon/whatsapp-iconsvg.svg" class = "icon-option">
          <a href = "#" class = "ancor-option">Soporte</a>
        </div>


      </div>


    </div>

  </div>

</div>
