<div class = "my-1 mx-3 main-container">

  <div class="flex">

    <div class="text-center pt-5">

      <div class="position-relative mb-2">
        <div class="top-0 left-0 w-100 h-100 text-center">
          <img src = "/assets/IMAGEN-TEMPORAL.svg" class = "profile-picture">
        </div>
      </div>

      <div class = "text-muted mb-2">
        Bienvenido de nuevo
      </div>

      <div class = "user-name mb-4">
        {{userName}}
      </div>

      <div class="">
        <button class = "btn rounded-4 text-sm text-black">
           % Completar perfil
        </button>
      </div>

      <hr>
    </div>

  </div>

</div>
